* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    
}

h1{

    font-size: 2.5rem;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2em;
}

body button {
    cursor: pointer;
}


/*! HEADER  */

header{
    background-color:white;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.fixed__top{
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 5;
}

/* NAV BAR  */

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar .navbar__brand {
   
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    text-decoration: none;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189a46;
}
#portNavbar .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;   
}
/*-- //dark and light mode styling --*/
button.navbar-toggler .icon-close {
  display: block;
}

button.navbar-toggler .icon-expand {
  display: none;
}

button.navbar-toggler.collapsed .icon-close {
  display: none;
}

button.navbar-toggler.collapsed .icon-expand {
  display: block;
}
#portNavbar .nav-link{
    font-size: 1.2em;
    font-weight: 400;
    color: black;
}
/*! trước khi hover  */
#portNavbar .nav-item::after {

    content: "";
    width: 0;
    height: 1px;
    /* thẻ a là inline nên phải chỉnh qua block để chỉnh kích thước  */
    display: block;
    background-color: #189a46;
    transition: all .5s;
}

#portNavbar .nav-item:hover::after {
    width: 100%;

}
/* home auto xanh  */
#portNavbar .nav-item.active a {
    color: #189a46;
}

/* thẻ khách xanh khi hover  */
#portNavbar .nav-item a:hover {
    color: #189a46;
}

 /* Light Dark Theme  */
 /* Light theme */
#myBody{
    background-color:white;
  }
  #switchButton {
    background-color: white;
    color: black;
  }
  #switchButton .fa-sun {
    display: none;
  }
  #switchButton .fa-moon {
    display: block;
  }
  
  /* Dark Theme*/
  .dark#myBody{
    background-color: #151515;
    
  }
  .dark #switchButton {
    background-color:#151515;
    color: white;
  }
  .dark #switchButton .fa-sun {
    display: block;
  }
  
  .dark #switchButton .fa-moon {
    display: none;
  }
 .dark header {
    background-color:#151515; 
  }
  .dark #portNavbar .nav-link{
    color:white;
  }
  .navbar #switchButton i {
    font-size: 1.5rem;
  }

  .dark .second__title{
    color: #ddd;
  }
  .dark .aStyle{
    color: white;
  }

  .dark .features {
    background: #222;
  }
  .dark .features .ft__title{
    color: #fff;
  }

  .dark .features .features__item{
    background-color:#000c04 ;
  }
  .dark .features .features__item:hover{
    background-color:  #222; ;
  }

  .dark .services .services__text i{
    background: #222;
  }

  .dark .services .services__text li{
    color: white;
  }

  .dark .plan{
    background: #222;
  }

  .dark .plan__item h6{
    color: #ddd;
  }

  .dark .plan .plan__item{
    background: #151515;
  }

  .dark .plan .bottom__info li{
    color: #afafaf;
  }

  .dark .video{
    background: #151515;
  }

  .dark .video p{
    color: #afafaf;
  }

  .dark .clients{
    background: #222;
  }

  .dark .clients .testimonial {
    background: #151515;
  }

  .dark .clients .testimonial .peopl h3 {
    color: #ddd;
  }

  .dark footer .footer__bg .footer__list a {
    color :#afafaf;
  }
  .dark .footer__list ul li p{
    color :#afafaf;
  }
 .dark .footer__cr p{
    color :#afafaf;
 }
  /*! CAROUSEL  */
.poochCarousel .banner__view{
    background: url(../img/banner1.jpg) no-repeat center;
    background-size: cover;
    min-height: calc(100vh - 40px);
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    padding: 3em 0;
}

/* tạo lớp màng phủ  */
.poochCarousel .banner__view::before{
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #0c0c0c;
    opacity: .6;

}

/* Class banner riêng đè lên  */
.poochCarousel .banner__1{
    background: url(../img/banner2.jpg) no-repeat center;
    background-size: cover;
}
.poochCarousel .banner__2{
    background: url(../img/banner3.jpg) no-repeat center;
    background-size: cover;
}
.poochCarousel .banner__3{
    background: url(../img/banner4.jpg) no-repeat center;
    background-size: cover;
}
/* đóng khung nhỏ rồi căn trái hoặc giữa cho dễ   */
.poochCarousel .banner__info__bg{
    max-width: 700px;
}
.text__left {
    text-align: left;
}

.poochCarousel .banner__info__bg h5{
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}

.poochCarousel .banner__info__bg p{
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9;
}

/* các button style  */
.btn__style{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
}

.btn__white{
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border: 2px solid #fff;
    border-radius: 10px; 
    background-color: #fff;
    color:#189a46;
    

}

.border__btn{
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 35px;
    background: rgba(0, 0, 0, 0.2);
}
.poochCarousel .border__btn:hover{
    color: #189a46;
    background: #fff;
}

/* Xử Lý Owl-dot  */
.owl-nav {
    display: none;
}
.owl-dots{
    text-align: center;
    margin-top: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
}

.owl-theme .owl-dots .owl-dot span{
    width: 10px;
    height: 10px;
    margin: 5px 10px;
    background: #fff;
    display: block;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
    opacity: 0.9;
}
.owl-theme .owl-dots .owl-dot.active span ,.owl-theme .owl-dots .owl-dot:hover span{
    width: 30px;
    height: 10px;
    background: #189a46;
}

 /*! ABOUT US  */

.aboutUs .about__content{
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    align-items: center;
}

.first__title{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53626;
}
.second__title{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}

.pStyle{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 28px;
    color:#696969;
    
}

.aStyle{
    font-size: 17px;
    padding: 0;
    border-bottom: 2px solid #189a46;
    color: #000c04;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 0;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
}

.aStyle:hover{
    text-decoration: none;
    color: #189a46;
} 

/*! FEATURES  */
.features{
   background: rgba(147, 107, 232, 0.05);
}

.features .features__item{
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;
}

.features .features__item:hover{
    background: #f3effd;
}
.features .features__item i{
    color: #189a46;
    font-size: 30px;
}

.features .ft__title{
    font-size: 24px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
    color:#000c04;
}
.features .ft__title:hover{
    text-decoration: none;
    color: #189a46;
}

/*! SERVICES  */

.services img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
}

.services .services__text{
    align-self: center;
}

.pStyle_services{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24.5px;
    color: #696969;
    margin: 15px 0 35px 0;
}

.services .services__text i{
    color:#189a46;
    margin-right: 12px;
    background: rgba(147, 107, 232, 0.05);
    font-size: 10px;
    padding: 8px;
    border-radius: 50%;
    display: inline-block;
}

.services .services__text li{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #000c04;
    margin: 15px 0;
    font-weight: 600;
}


/*! NUMBER  */

.number {
    background: #189a46;
}

.number p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}

.number h4{
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}

.number .number__infor{
    text-align: center;
    
}
/*! PLAN  */
.plan{
    background: rgba(147, 107, 232, 0.05);
}

.plan .heading{
    text-align: center;
}

.plan .plan__style{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    color: #f53626;
}

.plan .plan__info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 5% auto;
    margin-top: 0;
    width: 90%;
}

.plan .plan__item{
    background: #fff;
    border-radius: 6px;
    align-self: center;
}

.plan .item__box{
    padding: 3.5em 2.5em;
    
}
.plan .box__top{
    text-align: center;
}

.plan h6 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
}
.plan h4{
    font-size: 40px;
    line-height: 45px;
    margin: 15px 0 20px;
    text-align: center;
    font-weight: 600;
    color:#189a46;
}
.plan h4 label{
    font-size: 25px;
    vertical-align: text-top;
}

.plan h4 span{
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: 400;
}

.plan .box__bottom{
    text-align: center;
    padding-top: 1em;
}

.plan .bottom__info{
    min-height: 120px;
  
}
.plan .bottom__info li{
    list-style: none;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    align-self: center;
    padding-top: 6px;
    color: #696969;
}

.plan .bottom__button{
    margin-top: 2em;
}

.green__button {
    padding: 12px 35px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius: 10px;
    color: #fff;
    background-color: #189a46;
    border:1px;
    border-color: #189a46;
}
.green__button:hover{
    background-color: #116e32;
    border:1px;
    border-color: #116e32;
}

.plan .plan__item.active{
    z-index: 1;
    margin: 0;
    box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
    border-radius: 6px;
}

.plan .plan__item.active .box__top{
    padding:  3em 2.5em 0.5em;
    background:#189a46;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.plan h5{
    font-size: 15px;
    line-height: 20px;
    color: #189a46;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 8px 20px;
    background: #fff;
    border-radius: 10px;
}
.plan .plan__item.active h6{
    color: #fff;
}
.plan .plan__info .plan__item.active h4{
    color:#fff;
}
.plan .plan__info .plan__item.active h4 span{
    color: #eee;
}
.plan__item.active .box__bottom{
    padding: 2em 2.5em 3.5em;
}

/*! VIDEO  */
.video{
   background:#fff;
}

.video .video__block{
    display: grid;
    align-items: center;
    padding: 2rem 0;
}
.video .video__content{
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
}

.video .video__pop img{
    vertical-align: middle;
    border-style: none;
}

.video .video__pop .img__popup{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.video .play__view{
    left: 0;
    right: 0;
    top: calc(50% - 40px);
    text-align: center;
}

.video .video__icon{
    background: #fff;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    
    animation: ripple 1s linear infinite;
}

.video .video__icon:hover{
    transform: scale(1.15);
    transition: 0.3s ease-in-out;
}

.video .video__icon i{
    line-height: 55px;
    color: #189a46;
}
/* VIDEO POPUP  */
#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
  }
  div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
  }
  .mfp-close-btn-in .mfp-close {
    color: #fff;
  }
  .mfp-close,
  .mfp-close:active {
    top: -40px;
  }
  
  /**
     * Fade-zoom animation for first dialog
     */
  /* start state */
  .my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }
  
  /* animate in */
  .my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
  }
  
  /* animate out */
  .my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
  }
  
  /* Dark overlay, start state */
  .my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  /* animate in */
  .my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
  }
  
  /* animate out */
  .my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
  }


  /*! TESTIMONIALS  */
 
.clients{
    background: rgba(147, 107, 232, 0.05);
}


.clients .clients__info{
    max-width: 1050px;
    margin: auto;
}

.clients .testimonial {
    position: relative;
    overflow: hidden;
    text-align: left;
  }
  
  .clients .testimonial {
    display: block;
    margin: 0;
    padding: 40px 30px;
    position: relative;
    background:#fff;
    border-radius: 10px;
    -webkit-border-radius: 10px; 
    border: none;
    box-shadow: 0 25px 98px 0 rgba(19, 19, 19, 0.03);
  }
  
  .clients .testi-des {
    display: flex;
    text-align: center;
  }
  
  .clients blockquote q {
    font-size: 1.2em;
    line-height: 28px;
    color:#696969;
  }
  
  .clients blockquote q::before {
    font-size: 50px;
    color: #189a46;
    line-height: .8;
    padding-top: 8px;
    font-weight: 600;
    display: inline-block;
    font-family: "Merriweather", serif;
  }
  
  .clients .test-img {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
  }
  
  .clients .testimonial img {
    width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  
  .clients .testimonial blockquote {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    margin-bottom: 1.5em;
  }
  
  .clients .testimonial .peopl {
    margin: 0;
    margin-left: 20px;
    text-align: left;
  }
  
  .clients .testimonial .peopl h3 {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
  }
  
  .clients p.indentity {
    color: #777;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 0;
    text-align: left;
    opacity: 0.8;
  }

  .owl-two.owl-carousel.owl-theme .owl-dots {
    position: inherit;
    left: 0px;
    right: 0px;
    bottom: 30px;
    margin-top: 80px;
    margin-right:  15px;
  }
  
  .owl-two.owl-carousel.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 10px;
    background: #d8d8d8;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 25px;
    position: relative;
  }
  
  .owl-two.owl-carousel.owl-theme .owl-dots .owl-dot.active span,
  .owl-two.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
    background: #189a46;
    width: 30px;
    height: 10px;
  }

  /*! BOTTOMSUB */

.bottomsub .subscribe{
    max-width: 650px;
}
.bottomsub .subscribe__box{
  justify-content: space-between;  

}
.bottomsub .bottom__form{
    font-size: 16px;
    color: #696969;
    border-radius: 10px;
    padding: 0px 20px;
    height: 60px;
    flex-basis: 70%;
    background: #fff;
    height: 60px;
}
.bottomsub button{
    flex-basis: 27%;    
}

 /*! FOOTER  */
footer{
    background: #111;
}
footer .footer__title{
    color: #fff;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
footer .footer__list ul li,
footer .midd-footer-28:nth-child(1) .footer__list ul li:last-child {
  list-style: none;
  margin-bottom: 5px;
}

footer .footer__list ul li:last-child {
  margin-bottom: 0px;
}

footer ul.social__icons{
    margin-top: 3px;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
footer .footer__bg ul.social__icons li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
}

footer .footer__bg .footer__list ul li a:hover {
    text-decoration: underline;
    color: #fff;
}

footer ul.social__icons li a:hover {
    color:#fff;
    transition: 0.3s ease-in;
}
footer .footer__top ul li p,a{
    font-weight: normal;
    font-size: 16px;
    color:#696969;
    line-height: 28px;
}

footer .footer__cr{
    border-top: 1px solid rgba(103, 99, 99, 0.14);
}

footer .footer__cr p{
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color:#696969;
    margin-bottom: 0;
}
footer .footer__cr a{
    color:#f53626;
    opacity: 0.9;
}

 .backToTop {
    position: fixed;
    bottom:90px;
    right: 15px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 48px;
    height: 48px;
    background: #189a46;
    padding: 0;
    line-height: 36px;
    border-radius: 50px;
    transition: 0.3s ease-out;
    visibility: hidden;
    opacity: 0;

  }
  
 .backToTop:hover {
    transform: translate3d(0, -5px, 0);
    transition: 0.3s ease-out;
  }

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
 @media (max-width: 667px) {
    .owl-two.owl-carousel.owl-theme .owl-dots {
      position: inherit;
      left: 0px;
      right: 0px;
      bottom: 30px;
      margin-top: 80px;
      display: none;
    }
  }

@media (min-width: 992px){
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

}

@media (min-width: 992px){
.navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}

@media only screen and (max-width: 991.98px) {
.navbar-toggler {
    padding: 0rem 0rem !important;
  }
}

@media only screen and (max-width: 991.98px){
.navbar-toggler {
    border: 0 none;
    font-size: 22px !important;
  }
}
@media only screen and (max-width: 991.98px){
.navbar-toggler-icon.fa {
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
    background-color: #189a46;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 991.98px) {
  #switchButton {
      position: absolute;
      right: 60px;
      top: 18px;
    }
}


@media only screen and (max-width: 991px) {
  .popup {
    display: none;
  }

  a.nav-link:before{
    display: none;
  }

  .navbar .navbar-brand img {
    max-width: 140px;
  }

  .navbar-toggler {
    border: 0 none;
    font-size: 22px !important;
  }

  .navbar-nav {
    -webkit-animation-name: none;
    animation-name: none;
    float: left;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }

  .navbar-nav:last-child {
    border: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-item {
    -webkit-animation-name: none;
    animation-name: none;
    padding: 0;
  }

  .navbar-expand-lg .navbar-nav.nav_btn>li {
    padding-bottom: 10px;
  }

  .navbar-expand-lg .navbar-nav .nav-item .nav-link.active::before {
    bottom: 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: inline-block;
    padding: 6px 0;
    text-align: center;
  }

  header {
    height: auto;
    padding: 15px 0;
  }

  header.nav-fixed {
    height: auto;
    padding: 10px 0;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    display: block;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: none;
    padding: 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    background: #189a46;
    border-radius: 4px;
    text-align: center;
  }

  .navbar-toggler-icon.fa {
    line-height: 1.2em;
    color: #fff;
    line-height: 34px;
    background-color:#189a46;
    border-radius: 5px;
  }

  .navbar-toggler {
    padding: 0rem 0rem !important;
  }
}

@media (max-width: 1366px) {
  .plan .plan__info {
      width: 90%;
  }
}

@media (max-width: 800px) {
  .plan .plan__info {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 30px;
      margin: 50px auto 0;
  }
  .plan .plan__info {
      width: 60%;
  }

}

@media (max-width: 768px) {
  .plan .plan__info {
      width: 75%;
  }
}

@media (max-width: 568px) {
  .plan .plan__info {
    grid-gap: 20px;
    margin: 30px auto;
  }
}

@media (max-width: 480px) {
  .plan .plan__info {
    width: 80%;
  }
}








@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(15, 162, 66, 0.164), 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgba(15, 162, 67, 0.25), 0 0 0 20px rgba(15, 162, 67, 0.25), 0 0 0 40px rgba(50, 100, 245, 0);
    }
}